* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, darkgrey, grey);
}

.input {
  width: 70%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.input:focus {
  outline: none;
}

.add {
  width: 20%;
  background-color: green;
}

.check {
  cursor: pointer;
  margin-right: 5px;
}

.delete,
.edit {
  margin-left: 20px;
}

.delete {
  background-color: brown;
}

.edit {
  background-color: royalblue;
}

button {
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(1.1);
  transition: 0.2s;
}

.add-section {
  margin-bottom: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li {
  list-style-type: none;
  margin-bottom: 25px;
}

.list-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 10px;
  background-color: bisque;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.tracking {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: cornsilk;
  padding: 20px;
  border-radius: 10px;
  font-family: fantasy;
}

.time,
.completedTime {
  font-size: 12px;
  margin: 5px 0;
}

.time {
  color: darkslategray;
}

.completedTime {
  color: green;
}
